* {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
body {
  margin: 0;
}
/* .Wrapper {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 54px 34px 0 34px;
  margin-right: auto;
  margin-left: auto;
  color: black;
  min-width: 320px;
  max-width: 1023px;
  height: 100%;
} */

/* CaseHeader */
.CaseHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}

.LoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#PersonIcon {
  color: #8b0128;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.LoginText {
  margin: 0 0 0 7px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #8b0128;
  text-decoration: underline;
}
#sideBar {
  font-size: 42px;
  color: #8b0128;
  margin: 0;
  padding: 0;
}

/* search bar */
.SearchDiv {
  margin: 42px 0;
}
.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid #8b0128;
  border-radius: 24px;
  background: white;
}
.SearchInput {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  display: flex;
  align-items: center;
}
#SearchIcon {
  color: #8b0128;
  font-size: 24px;
}

.Line {
  width: 100vw;
  height: 6px;
  background-color: #eaeaea;
}

/* Feed */

.TitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  padding: 0;
  height: fit-content;
}

.NoticeFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.MainText {
  font-size: 14pt;
  font-weight: bold;
  color: #4f4f4f;
}
.CaseText {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #8b0128;
  margin-left: 8px;
}
.More {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: 0.12px;
  text-align: left;
  color: #707070;
}

.Notice {
  width: 72%;
  margin: 12px 0;
  padding: 14px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 16%);
  background-color: #ffffff;
  max-width: 900px;
}
.FirstNotice {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  text-align: left;
  color: #4f4f4f;
}
.StoryCard {
  width: 72%;
  height: 156px;
  border-radius: 4px;
  border: solid 1px #707070;
  background-color: #d5a3af;
  margin-top: 12px;
  max-width: 900px;
}
.AD {
  width: 100vw;
  height: 44px;
  border: solid 1px #707070;
  background-color: #d5a3af;
  margin-top: 42px;
}
