{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}      <!-- 페이지별 타이틀 공간 -->
    {% endblock title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>수강신청 알리미</title>
    {% block css %}        <!-- 페이지별 css -->
    
    {% endblock css %}

</head>
<body>
    {% block content %}
    <a href="https://ku-sugang.com/">홈으로</a>
    {% endblock content %}

</body>
</html>